* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.check {
    margin: 0 20px 0 20px;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    border: 2px solid #2980b9;
    background-color: #bdc3c7;
}

.title {
    text-align: center;
}